In [1]:
import pandas as pd
from scipy.stats import entropy

In [2]:

classes = pd.read_csv('./data/classes.csv')
classes = classes.drop(columns=["Unnamed: 0", "AI"])
indices = entropy(classes.apply(lambda s: s.value_counts(normalize=True), axis=1).fillna(0), axis=1).argsort()[::-1][:25]

classes.iloc[indices]
indices

array([101,  16, 179, 265,  33,  83, 271, 238, 286, 329,  99, 405, 209,
       282, 190, 219, 227, 115,   3, 303, 261, 245, 176, 244,  76])

In [3]:
diffs = pd.read_csv('./data/difficolta.csv')
indices = diffs.mean(axis=1).values.argsort()[::-1][:25]
diffs.iloc[indices]
print(indices)

[280  97  77 394 259 115 314 123 100 279 150  30 309 381 231  94 146 230
 325 339 258 137 193 298 207]

In [ ]:
import pickle
import numpy as np
import pandas as pd

dic = []
with open('gdrive/My Drive/Colab Notebooks/images/map.pickle', 'rb') as handle:
    dic = pickle.load(handle)
    
target = pd.read_csv('gdrive/My Drive/Colab Notebooks/images/target.csv')


idx_map = pd.DataFrame.from_dict(dic.items())
idx_map.columns = ['new_idx','true_idx']
idx_map['target'] = 0
idx_map = idx_map[idx_map['new_idx'] < 428]
idx_map.reset_index(drop=True, inplace=True)

print(np.min(idx_map.loc[:,'new_idx']))

for i in range(idx_map.shape[0]):
    
    idx_map.loc[i,'target'] = target.loc[idx_map.loc[i,'new_idx']-1].values
idx_map[idx_map["new_idx"]==367]

1

     new_idx true_idx  target
168      367     0620       1

In [ ]:
dataset = pd.read_csv('gdrive/My Drive/Colab Notebooks/images/train-milano.csv')
dataset["target"] = dataset['ACL'] | dataset['meniscus']

counter = 0
counter_abnormal = 0

for i in range(idx_map.shape[0]):
    index = int(idx_map.loc[i,'true_idx'])
    if idx_map.loc[i,'target'] != dataset["target"].iloc[index]:
        counter += 1
    if idx_map.loc[i,'target'] != dataset["abnormal"].iloc[index]:
        counter_abnormal +=1
print(counter)
print(counter_abnormal)
dataset[dataset["target"] != dataset["abnormal"]]

0
120

        id  abnormal  ACL  meniscus  target
0        0         1    0         0       0
2        2         1    0         0       0
4        4         1    0         0       0
6        6         1    0         0       0
7        7         1    0         0       0
...    ...       ...  ...       ...     ...
1118  1118         1    0         0       0
1121  1121         1    0         0       0
1122  1122         1    0         0       0
1124  1124         1    0         0       0
1128  1128         1    0         0       0

[433 rows x 5 columns]

In [ ]:
SIZE = 32 

X_train = np.zeros((images_train+images_test, SIZE, SIZE, 3))
y_train = []
test_idx = []

for i in range(1130):
    idx = "%04d" % i
    img = np.load('gdrive/My Drive/Colab Notebooks/images/' + idx + '.npy')
    for j in range(img.shape[0]):
        for k in range(3):
            X_train[counter,:,:,k] = st.resize(img[j,:,:], (SIZE, SIZE))
        y_train.append(dataset.iloc[i])
        if idx in idx_map.loc[:,'true_idx'].values :
          test_idx.append(counter)
        counter += 1
print(counter)

24555
14223

In [ ]:
model = keras.models.load_model('modello.hd5f')

In [ ]:
print(idx_map['target'].values)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [ ]:
pd.read_csv('gdrive/My Drive/Colab Notebooks/images/train-milano.csv')

        id  abnormal  ACL  meniscus
0        0         1    0         0
1        1         1    1         1
2        2         1    0         0
3        3         1    0         1
4        4         1    0         0
...    ...       ...  ...       ...
1125  1125         1    0         1
1126  1126         1    0         1
1127  1127         0    0         0
1128  1128         1    0         0
1129  1129         1    1         0

[1130 rows x 4 columns]