In [1]:
# import delle librerie
import krippendorff
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
classes_df = pd.read_csv('./minor_agreement.csv')

diff_df = pd.read_csv('./casi_diff.csv')

classes_df = classes_df.astype(float)
diff_df = diff_df.astype(float)

In [3]:
classes_df = classes_df.apply (pd.to_numeric, errors='coerce')
diff_df = diff_df.apply(pd.to_numeric, errors='coerce')

In [4]:
diff_df['mean'] = diff_df.apply(np.mean, axis=1)
diff_df = diff_df.reset_index()

In [5]:
diff_df.sort_values('mean', inplace=True)

id_dif = []

id_dif.append(diff_df['index'].head(25))

In [6]:
diff_df.head(25)

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,mean
13,13,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
188,188,2.0,NaN,2.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.375000
241,241,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.500000
107,107,2.0,NaN,2.0,1.0,NaN,NaN,2.0,NaN,NaN,1.0,1.0,NaN,NaN,1.500000
324,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,1.500000
199,199,2.0,NaN,NaN,2.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,2.0,NaN,1.500000
266,266,NaN,2.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,1.571429
122,122,2.0,NaN,2.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,1.600000
236,236,NaN,1.0,2.0,NaN,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,NaN,1.600000
182,182,2.0,NaN,2.0,1.0,NaN,2.0,1.0,1.0,2.0,2.0,NaN,NaN,NaN,1.625000
169,169,2.0,NaN,2.0,2.0,2.0,2.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.625000
208,208,2.0,NaN,2.0,1.0,NaN,2.0,1.0,NaN,2.0,1.0,2.0,NaN,NaN,1.625000
197,197,2.0,NaN,2.0,1.0,NaN,2.0,2.0,2.0,NaN,1.0,1.0,NaN,NaN,1.625000
176,176,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,1.666667
214,214,2.0,1.0,2.0,2.0,2.0,NaN,1.0,2.0,NaN,NaN,1.0,2.0,NaN,1.666667
205,205,2.0,NaN,NaN,2.0,1.0,NaN,1.0,2.0,NaN,NaN,2.0,NaN,NaN,1.666667
404,404,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.666667
370,370,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.666667
158,158,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,1.666667
61,61,2.0,NaN,2.0,1.0,NaN,NaN,2.0,2.0,NaN,NaN,1.0,NaN,NaN,1.666667
174,174,2.0,NaN,NaN,1.0,NaN,2.0,1.0,NaN,2.0,2.0,NaN,NaN,NaN,1.666667
86,86,2.0,NaN,2.0,1.0,2.0,NaN,2.0,2.0,NaN,NaN,1.0,NaN,NaN,1.714286
399,399,2.0,2.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,1.714286
291,291,NaN,2.0,NaN,1.0,2.0,NaN,2.0,NaN,NaN,2.0,1.0,2.0,NaN,1.714286
272,272,NaN,2.0,NaN,2.0,1.0,NaN,2.0,NaN,NaN,1.0,2.0,2.0,NaN,1.714286

In [7]:
test = open("id_dif.csv", 'w')
np.savetxt(test, id_dif, fmt='%s')
test.close()

In [8]:
classes_df['mean'] = classes_df.apply(np.mean, axis=1)
classes_df = classes_df.reset_index()

In [9]:
classes_df.sort_values('mean', inplace=True)
classes_df.head(25)

,index,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,mean
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
298,298,NaN,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0
297,297,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
296,296,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
295,295,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
294,294,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0
293,293,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
291,291,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
289,289,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
288,288,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
286,286,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0
285,285,NaN,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
284,284,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
283,283,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
282,282,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0
281,281,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
277,277,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
276,276,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
299,299,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
275,275,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
300,300,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
303,303,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0
326,326,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
325,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
323,323,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0

In [10]:
id_agreement = []

id_agreement.append(classes_df['index'].head(25))

test = open("id_agreement.csv", 'w')
np.savetxt(test, id_agreement, fmt='%s')
test.close()